{% extends "base.html" %}

{% block menu %}

	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/">INICIO</a></li>
			<li><a href="/perfil">INVOCADOR</a></li>
			<li class="active"><a href="/historial">HISTORIAL</a></li>
			<li><a href="/maestrias">MAESTRIAS</a></li>
		</ul>
	</div>

{% endblock %}

{% block contenido4 %}

	<div class="invocador">
		<form action="/historial" method="post">
			<div class="form-invocador">
				<fieldset>
					<br/><br/>
					<input type="submit" name='valor' value="Mostrar todo el historial">
					<br/><br/>
				</fieldset>
				<fieldset>
				<legend>Buscar por Campeón</legend>
					<label>Campeón:</label>
					<input type="text" name="campeon"/>					
					<input type="submit" name='valor' value="Buscar">
					<br/>
				</fieldset>
			</div>
		</form>
	</div>

{% endblock %}

{% block contenido5 %}

{% if partidas %}

	<div class="historial_invocador">

		<h2>HISTORIAL DE {{lista['name']}}</h2>

	{% for partida in partidas %}

		{% if partida['partidasimple']['jugador']['gana'] %}

			<div class='partida_victoria'>
				<h3>VICTORIA</h3>

		{% else -%}

			<div class='partida_derrota'>
				<h3>DERROTA</h3>

		{% endif %}

				<div>
					<p>{{partida['partidasimple']['modo']}}</p>
					<img src="{{partida['partidasimple']['mapa']}}" height="100" width="100" alt=''>
				</div>
				<div>
					<img src="{{partida['campeon']['icono']}}" height="100" width="100" alt=''>
					<img src="{{partida['partidasimple']['jugador']['spell1']}}" height="50" width="50" alt=''>
					<img src="{{partida['partidasimple']['jugador']['spell2']}}" height="50" width="50" alt=''>
				</div>
				<div class='objetos'>
				<p>Kills/Deaths/Assists - {{partida['partidasimple']['jugador']['kills']}}/{{partida['partidasimple']['jugador']['deaths']}}/{{partida['partidasimple']['jugador']['assists']}}</p>
					<img src="{{partida['partidasimple']['jugador']['item0']}}" height="50" width="50" alt=''>
					<img src="{{partida['partidasimple']['jugador']['item1']}}" height="50" width="50" alt=''>
					<img src="{{partida['partidasimple']['jugador']['item2']}}" height="50" width="50" alt=''>
					<img src="{{partida['partidasimple']['jugador']['item3']}}" height="50" width="50" alt=''>
					<img src="{{partida['partidasimple']['jugador']['item4']}}" height="50" width="50" alt=''>
					<img src="{{partida['partidasimple']['jugador']['item5']}}" height="50" width="50" alt=''>
					<img src="{{partida['partidasimple']['jugador']['item6']}}" height="50" width="50" alt=''>				
					<p>{{partida['fecha']}}</p>
					<p>{{partida['partidasimple']['tiempo']}} Minutos</p>
				</div>
			</div>

	{% endfor %}
		<div class='botones'>
			<a href="/historial/-10"><button type="button">Anterior</button></a>
			<a href="/historial/10"><button type="button">Siguiente</button></a>
		</div>
	</div>

{% endif %}

{% endblock %}