{% extends "base.html" %}

{% block menu %}

	<div class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/">INICIO</a></li>
			<li><a href="/perfil">INVOCADOR</a></li>
			<li class="active"><a href="/historial">HISTORIAL</a></li>
			<li><a href="/maestrias">MAESTRIAS</a></li>
		</ul>
	</div>

{% endblock %}

{% block contenido4 %}

	<div class="invocador">
		<form action="/historial" method="post">
			<div class="form-invocador">
				<fieldset>
					<br/><br/>
					<input type="submit" name='valor' value="Mostrar todo el historial">
					<br/><br/>
				</fieldset>
				<fieldset>
					<legend>Buscar por Campeón</legend>
					<label>Campeón:</label>
					<input type="text" name="campeon"/>
					<input type="submit" name='valor' value="Buscar">
					<br/>
				</fieldset>
				<br/>
				<fieldset>
					<legend>Buscar por Victoria o Derrota</legend>
					<input type="submit" name='valor' value="Victorias">
					<input type="submit" name='valor' value="Derrotas">
					<br/>
				</fieldset>
			</div>
		</form>
		{% if not idcampeon and tipo not in ['todo','ganadas','perdidas'] and pagina %}

			<h2>CAMPEÓN NO ENCONTRADO</h2>
			</div>
		{% else -%}
			</div>
			{% include 'partidas.html' %}

		{% endif %}	

{% endblock %}

