{% extends "base.html" %}

{% block menu %}
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/">INICIO</a></li>
    <li><a href="/perfil">INVOCADOR</a></li>
    <li><a href="/historial">HISTORIAL</a></li>
    <li class="active"><a href="/maestrias">MAESTRIAS</a></li>
  </ul>
</div><!--/.nav-collapse -->
{% endblock %}

{% block contenido1 %}
<div class="info_invocador">
	<h2>INFORMACION DEL PERFIL</h2>
	<img src='http://ddragon.leagueoflegends.com/cdn/8.11.1/img/profileicon/588.png' height="100" width="100">	
	<h3>Nombre de usuario:</h3> CanadaRey26
	<h3>Nivel del perfil:</h3> 60
	
</div>
{% endblock %}